/* Ejer005.css */

body{
    font-family: Arial;
    margin: 20px;
    text-align: center;
    background: linear-gradient(135deg,#1e1e2f,#312450);
    color: white;
}

h2{
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px black;
}

input[type="text"]{
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background: white;
    color: #312450;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

canvas{
    border: 3px solid white;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

#barra{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

#barra::-webkit-progress-bar{
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
}

#barra::-webkit-progress-value{
    background: linear-gradient(
        90deg,
        #00ff99,
        #00c3ff
    );
    border-radius: 20px;
}

#barra::-moz-progress-bar{
    background: linear-gradient(
        90deg,
        #00ff99,
        #00c3ff
    );
    border-radius: 20px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 15px #00c3ff;
}